@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

:root{
    --color-primary: #444CF7;
    --color-title: #000;
    --align-title: left;
    --padding-container: 100px 0;
    --width-container: 90%;
    --max-width-container: 1200px;
    --color-btn: #444CF7;
    --text-btn: #fff;
    --padding-btn: 20px 35px;
    --height-shape: 18em;
}


body{
    font-family: 'Otomanopee One', sans-serif;
    background-color: #e5e5f7;
    opacity: 1;
    background-image:  radial-gradient(#444cf7 0.70px, transparent 0.75px), radial-gradient(#444cf7 0.75px, #e5e5f7 0.75px);
    background-size: 28px 28px;
    background-position: 0 0,14px 14px;
    }

.container{
    width: var(--width-container);
    max-width: var(--max-width-container);
    padding: var(--padding-container);
    margin: 0 auto;
    overflow: hidden;
}

.hero{
    height: 100vh;
    min-height: 500px;
    position: relative;
    --padding-container: 0;
}

.hero::after{
    content: "";
    display: block;
    position: absolute;
    height: var(--height-shape);
    width: 100%;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    clip-path: polygon(0 100%,100% 100%,100% 0);
}

.hero__container{
    display: grid;
    height: 100%;
    grid-template-columns: 3fr 2fr;
    place-items: center;
    gap: 20px;
}

.hero__title{
    font-size: 4rem;
}

.hero__copy{
    font-size: 1.2rem;
    margin: 25px 0; 
}

.hero__cta{
    display: inline-block;
    background: var(--color-btn);
    color: #fff;
    padding: var(--padding-btn);
    text-align: center;
    text-decoration: none;
}

.hero__img{
    width: 95%;
}

.main{
    background: #fff;
}

.title{
    font-size: 2.5rem;
    text-align: var(--align-title);
    color: var(--color-title);
}

.title--border::after{
    content: "";
    display: block;
    width: 100px;
    margin-top: 20px;
    height: 4px;
    background-color: var(--color-primary);
}

.cta{
    display: inline-block;
    background: var(--color-btn);
    color: var(--text-btn);
    padding: var(--padding-btn);
    text-align: center;
    text-decoration: none;
}

.devs--text{
    display: grid;
    grid-template-columns: 10fr 10fr 10fr;
    place-items: center;
    margin-bottom: 3rem;
    margin-top: 20px;
    margin: 4rem;
    padding-top: 1rem;
}

.instructor{
    text-align: center;
    border-bottom: 2px solid #ccc;
    --padding-container: 30px 0 60px;
}

.instructor__container{
    display: grid;
    grid-template-columns: 10fr 10fr 10fr;
    place-items: center;
    margin-bottom: 3rem;
    margin: 4rem;

    /*width: 70%;
    margin: 0 auto;
    align-items: center;*/
}

.instructor__titulo{
    margin: 25px 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: auto;
}

.instructor__name{
    margin: 5px 0;
}

.instructor__tag{
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 20px;
}

.instructor__paragraph{
    text-align: left;
    line-height: 1.5;
    font-style: italic;
    color: #615a5a;
}

.instructor__img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

/* about */

.about{
    display: grid;  
    grid-template-columns: 5fr 4fr;
    place-items: center;
}

.about__course{
    width: 90%;
}

.about__paragraph{
    margin: 20px 0;
    line-height: 1.5;
    font-weight: 300;
}

.about__picture{
    text-align: center;
}

.about__img{
    width: 95%;
}

/* card */

.card{
    background: #f2f2f2;
}

.card__copy{
    margin-top: 20px;
}

.card__container{
    width: 99%;
    margin: 0 auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 20px;
    grid-template-areas: 
    ".      card1   .    "
    "card2  card1   card3"
    "card2  card4   card3"
    ".      card4   .    "
    ;
}

.card__item{
    padding: 20px;
    background: #fff;
    border-top: 5px solid #667eea;
    box-shadow: 0 0 3px rgba(0,0,0,.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__img{
    background: var(--color-primary);
    margin-top: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__title{
   margin: 20px 0;
   font-size: 1.5rem;

}

.card__paragraph{
    font-weight: 300;
    margin-bottom: 20px;
}

.card__item:nth-last-of-type(1){
    grid-area: card1;
}

.card__item:nth-last-of-type(2){
    grid-area: card2;
}

.card__item:nth-last-of-type(3){
    grid-area: card3;
}

.card__item:nth-last-of-type(4){
    grid-area: card4;  
}

/* course container */

.course{
    --color-title: #fff;
    --color-btn: #fff;
    --text-btn: #444cf7;
    color: var(--color-title);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    
}

.course__about{
    align-self: center;
    width: 97%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    background: var(--color-primary);
    grid-column: 1/4;
    grid-row: 2/-2;
}

.course__picture{
    margin: 0;
    grid-column: 3/-1;
    grid-row: 1/-1;
}

.course__img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* footer */

.footer{
    position: relative;
    --padding-container: 160px 0 50px;

}

.footer::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    background: #fff;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.footer__contanct{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-items: center;
    margin-bottom: 30px;
}

.footer__copy{
    margin: 20px 0;
    font-weight: 300;
}

.footer__copy{
    margin: 0;
}

.footer__img{
    width: 80%;
    height: 80%;
}

.footer__social{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}

.footer__link{
    width: 60px;
    height: 60px;
    border: qpx solid #000;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    
}